* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding-left: 40px;
    padding-right: auto;
    padding-top: 40px;
}

#header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#header .header_logo {
    padding: 10px;
}

#header .header_menu ul{
    display: flex;
    list-style: none;
    gap: 100px;
    justify-content: center;
    padding: 10px 10px;
    margin: 10px auto;
    width: 100%;
}

#header .header_menu ul li a {
    text-decoration: none;
    background-color: #0688F9;
    margin: 15px;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

#principal h2 {
    color: #78D728;
}

#principal h3 {
    color: hotpink;
    font-size: 20px;
}

#galeria {
    display: grid;
    gap: 20px;
    border: #0688F9;
    font-size: 14px;
    font-style: normal;
}

#galeria .link_interno{
    color: #F97706;
    padding-top: 50px;
}

h1 {
    font-size: 28px;
    color: #0688F9;
}

h2 {
    font-size: 24px;
    color: #0688F9;
}

h2.links {
    font-size: 20px; 
    padding-top: 20px;
}

h3 {
    font-size: 16 px;
}

p {
    font-size: 16px;
}

a {
    font-size: 18px;
    color: #0688F9;
}

#form {

    border: 2px solid #0688F9;
    margin: auto;
    padding: 5px;
    height: auto;
    align-items: center;
    font-size: 16px;
    background-color: white;
    color: #F97706;
}

#foto-vertical {
    size: 10px;
    padding: 2px;
}

footer {
    font-size: 14px;
    text-align: center;
    color: #78D728;
}